# Aula 2: SQL

## Introdução

Nesta aula veremos as principais queries de consulta em sql

## Conexao no db4free via sqlalchemy

In [16]:
!pip install SQLAlchemy --user --upgrade

Requirement already satisfied: SQLAlchemy in /root/.local/lib/python3.7/site-packages (1.4.22)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from SQLAlchemy) (1.1.0)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from SQLAlchemy) (4.6.1)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->SQLAlchemy) (3.5.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->SQLAlchemy) (3.7.4.3)

In [17]:
import yaml 
import sqlalchemy
import pandas as pd

In [6]:
!pip install -U PyYAML

Requirement already satisfied: PyYAML in /usr/local/lib/python3.7/dist-packages (5.4.1)

In [7]:
pip install mysqlclient

Collecting mysqlclient
  Downloading mysqlclient-2.0.3.tar.gz (88 kB)
     |████████████████████████████████| 88 kB 5.0 MB/s
Building wheels for collected packages: mysqlclient
  Building wheel for mysqlclient (setup.py) ... done
  Created wheel for mysqlclient: filename=mysqlclient-2.0.3-cp37-cp37m-linux_x86_64.whl size=100142 sha256=e398d63a70b0ea85fb09f7893cbdf12a2d374775fbab39f27ee5929950e7dec6
  Stored in directory: /root/.cache/pip/wheels/79/1c/f8/11fafab45fe6696eea63794a5d747b9c6b54990ac6f1885fb7
Successfully built mysqlclient
Installing collected packages: mysqlclient
Successfully installed mysqlclient-2.0.3

In [20]:
with open('credentials.yml', 'r') as file:
    credentials = yaml.load(file, Loader=yaml.FullLoader)

- A engine deve estar no formato:
- mysql://`user`:`password`@`host`:`port`/`database`

In [3]:
print('hello')
print("hello")

hello
hello

In [4]:
sqlalchemy.__version__

'1.4.22'

In [21]:
c = credentials
engine = sqlalchemy.create_engine\
(f"mysql://{c['user']}:{c['password']}@{c['host']}:{c['port']}/{c['database']}")

### UPLOAD TABLE

In [10]:
df = pd.read_csv('AtrasoCartaoCredito.csv')

In [ ]:
df.head(2)

,ID,Target,GrupoEconomico,Sexo,Idade,GrupoRisco,ValorCompraAnual,GastoMax,GastoMedio,UF,CidadeResidencia,RegiaodoPais,NumeroComprasOnline
0,1,0,3,homem,22,1,7250.0,517.857143,604.166667,MG,Morada Nova de Minas,Região Sudeste,54.924242
1,2,1,1,mulher,38,1,71283.0,5091.642857,5940.250000,RN,Marcelino Vieira,Região Nordeste,312.644737

In [13]:
!pip uninstall mysql-connector

WARNING: Skipping mysql-connector as it is not installed.

In [14]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.26-cp37-cp37m-manylinux1_x86_64.whl (30.9 MB)
     |████████████████████████████████| 30.9 MB 82 kB/s
Requirement already satisfied: protobuf>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from mysql-connector-python) (3.17.3)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.7/dist-packages (from protobuf>=3.0.0->mysql-connector-python) (1.15.0)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.26

In [22]:
import mysql.connector

#Conectando
con = mysql.connector.connect(user=credentials['user'], 
                              password=credentials['password'],
                              host=credentials['host'],
                              database=credentials['database'],
                              port=credentials['port'])

cursor = con.cursor()

In [23]:
query = 'SHOW TABLES'
cursor.execute(query)
cursor.fetchall()

[('empresas',)]

In [31]:
df.to_sql('AtrasoCartaoCredito', engine)

In [32]:
type(df)

pandas.core.frame.DataFrame

In [33]:
df.head()

   ID  Target  ...     RegiaodoPais NumeroComprasOnline
0   1       0  ...   Região Sudeste           54.924242
1   2       1  ...  Região Nordeste          312.644737
2   3       1  ...       Região Sul           50.801282
3   4       1  ...       Região Sul            2.528571
4   5       0  ...  Região Nordeste            3.833333

[5 rows x 13 columns]

### SELECT e FROM

- Já vimos o `SELECT` e `FROM` na última aula
    - `SELECT` seleciona as colunas que queremos trazer
        - `*` seleciona toda das colunas
    - `FROM` seleciona a tabela que analisaremos
- Para facilitar a consulta, podemos aplicar o `LIMIT`, que define o número de linhas que a query irá trazer

In [34]:
query = '''
    SELECT *
    FROM AtrasoCartaoCredito
'''

pd.read_sql(query, engine)

     index   ID  ...     RegiaodoPais  NumeroComprasOnline
0        0    1  ...   Região Sudeste            54.924242
1        1    2  ...  Região Nordeste           312.644737
2        2    3  ...       Região Sul            50.801282
3        3    4  ...       Região Sul             2.528571
4        4    5  ...  Região Nordeste             3.833333
..     ...  ...  ...              ...                  ...
886    886  887  ...  Região Nordeste             0.080247
887    887  888  ...  Região Nordeste             0.263158
888    888  889  ...     Região Norte            11.166667
889    889  890  ...  Região Nordeste             0.192308
890    890  891  ...  Região Nordeste             4.036458

[891 rows x 14 columns]

### LIMIT

- Podemos usar o `LIMIT` para mostrar as primeiras `n` linhas

In [35]:
query = '''
    SELECT *
    FROM AtrasoCartaoCredito
    LIMIT 5
'''

pd.read_sql(query, engine)

   index  ID  ...     RegiaodoPais  NumeroComprasOnline
0      0   1  ...   Região Sudeste            54.924242
1      1   2  ...  Região Nordeste           312.644737
2      2   3  ...       Região Sul            50.801282
3      3   4  ...       Região Sul             2.528571
4      4   5  ...  Região Nordeste             3.833333

[5 rows x 14 columns]

- Atenção, em bancos de dados SQLServer, o análogo ao `LIMIT` é o `TOP`
- A sintaxe análoga seria:
    - `SELECT TOP 5 * FROM AtrasoCartaoCredito`

### WHERE

- Podemos filtar algumas observações com o comando `WHERE`

#### Igual `=`

In [38]:
df.shape

(891, 13)

In [39]:
query = '''
    SELECT *
    FROM AtrasoCartaoCredito
    WHERE Sexo = 'homem'
    LIMIT 5
'''

pd.read_sql(query, engine)

   index  ID  ...     RegiaodoPais  NumeroComprasOnline
0      0   1  ...   Região Sudeste            54.924242
1      4   5  ...  Região Nordeste             3.833333
2      5   6  ...  Região Nordeste           640.780303
3      6   7  ...       Região Sul           160.067901
4      7   8  ...  Região Nordeste        175625.000000

[5 rows x 14 columns]

#### Diferente `<>`

- `<>` significa "diferente", ou seja, selecionaremos todos `sexo` menos `homem`

In [40]:
query = '''
    SELECT *
    FROM AtrasoCartaoCredito
    WHERE Sexo <> 'homem'
    LIMIT 5
'''

pd.read_sql(query, engine)

   index  ID  Target  ...  CidadeResidencia     RegiaodoPais  NumeroComprasOnline
0      1   2       1  ...  Marcelino Vieira  Região Nordeste           312.644737
1      2   3       1  ...     Agudos do Sul       Região Sul            50.801282
2      3   4       1  ...      Congonhinhas       Região Sul             2.528571
3      8   9       1  ...        Comercinho   Região Sudeste            68.722222
4      9  10       1  ...          Japonvar   Região Sudeste            35.797619

[5 rows x 14 columns]

#### Maior `>`

In [41]:
query = '''
    SELECT *
    FROM AtrasoCartaoCredito
    WHERE GastoMedio > 1000
    LIMIT 5
'''

pd.read_sql(query, engine)

   index  ID  Target  ...  CidadeResidencia     RegiaodoPais  NumeroComprasOnline
0      1   2       1  ...  Marcelino Vieira  Região Nordeste           312.644737
1      5   6       0  ...         Carneiros  Região Nordeste           640.780303
2      6   7       0  ...          Figueira       Região Sul           160.067901
3      7   8       0  ...        Ouriçangas  Região Nordeste        175625.000000
4     13  14       0  ...            Abaíra  Região Nordeste           133.653846

[5 rows x 14 columns]

In [43]:
df[df.GastoMedio > 1000].head(5)

    ID  Target  ...     RegiaodoPais NumeroComprasOnline
1    2       1  ...  Região Nordeste          312.644737
5    6       0  ...  Região Nordeste          640.780303
6    7       0  ...       Região Sul          160.067901
7    8       0  ...  Região Nordeste       175625.000000
13  14       0  ...  Região Nordeste          133.653846

[5 rows x 13 columns]

#### Entre `BETWEEN`

In [44]:
query = '''
    SELECT *
    FROM AtrasoCartaoCredito
    WHERE GastoMedio BETWEEN 500 AND 1000
    LIMIT 5
'''

pd.read_sql(query, engine)

   index  ID  ...     RegiaodoPais  NumeroComprasOnline
0      0   1  ...   Região Sudeste            54.924242
1      2   3  ...       Região Sul            50.801282
2      8   9  ...   Região Sudeste            68.722222
3     19  20  ...  Região Nordeste            26.759259
4     26  27  ...  Região Nordeste            38.844086

[5 rows x 14 columns]

#### E `AND`

In [45]:
query = '''
    SELECT *
    FROM AtrasoCartaoCredito
    WHERE GastoMedio > 1000 AND Sexo = 'mulher'
    LIMIT 5
'''

pd.read_sql(query, engine)

   index  ID  ...         RegiaodoPais  NumeroComprasOnline
0      1   2  ...      Região Nordeste           312.644737
1     14  15  ...       Região Sudeste           935.023810
2     22  23  ...  Região Centro-Oeste           892.133333
3     24  25  ...         Região Norte           439.062500
4     25  26  ...         Região Norte           174.372222

[5 rows x 14 columns]

#### Ou `OR`

In [46]:
query = '''
    SELECT *
    FROM AtrasoCartaoCredito
    WHERE GastoMedio > 1000 OR CidadeResidencia = 'Agudos do Sul'
    LIMIT 5
'''

pd.read_sql(query, engine)

   index  ID  Target  ...  CidadeResidencia     RegiaodoPais  NumeroComprasOnline
0      1   2       1  ...  Marcelino Vieira  Região Nordeste           312.644737
1      2   3       1  ...     Agudos do Sul       Região Sul            50.801282
2      5   6       0  ...         Carneiros  Região Nordeste           640.780303
3      6   7       0  ...          Figueira       Região Sul           160.067901
4      7   8       0  ...        Ouriçangas  Região Nordeste        175625.000000

[5 rows x 14 columns]

#### Em `IN`

In [47]:
query = '''
    SELECT *
    FROM AtrasoCartaoCredito
    WHERE UF = 'BA' OR UF = 'PR'
    LIMIT 5
'''

pd.read_sql(query, engine)

   index  ID  Target  ...  CidadeResidencia     RegiaodoPais  NumeroComprasOnline
0      2   3       1  ...     Agudos do Sul       Região Sul            50.801282
1      3   4       1  ...      Congonhinhas       Região Sul             2.528571
2      4   5       0  ...           Morpará  Região Nordeste             3.833333
3      6   7       0  ...          Figueira       Região Sul           160.067901
4      7   8       0  ...        Ouriçangas  Região Nordeste        175625.000000

[5 rows x 14 columns]

In [48]:
query = '''
    SELECT *
    FROM AtrasoCartaoCredito
    WHERE UF IN ('BA', 'PR')
    LIMIT 5
'''

pd.read_sql(query, engine)

   index  ID  Target  ...  CidadeResidencia     RegiaodoPais  NumeroComprasOnline
0      2   3       1  ...     Agudos do Sul       Região Sul            50.801282
1      3   4       1  ...      Congonhinhas       Região Sul             2.528571
2      4   5       0  ...           Morpará  Região Nordeste             3.833333
3      6   7       0  ...          Figueira       Região Sul           160.067901
4      7   8       0  ...        Ouriçangas  Região Nordeste        175625.000000

[5 rows x 14 columns]

#### Não `NOT`

In [49]:
query = '''
    SELECT *
    FROM AtrasoCartaoCredito
    WHERE UF NOT IN ('BA', 'PR')
    LIMIT 5
'''

pd.read_sql(query, engine)

   index  ID  ...     RegiaodoPais  NumeroComprasOnline
0      0   1  ...   Região Sudeste            54.924242
1      1   2  ...  Região Nordeste           312.644737
2      5   6  ...  Região Nordeste           640.780303
3      8   9  ...   Região Sudeste            68.722222
4      9  10  ...   Região Sudeste            35.797619

[5 rows x 14 columns]

#### `LIKE`

In [50]:
query = '''
    SELECT *
    FROM AtrasoCartaoCredito
    WHERE UF LIKE 'A_'
    LIMIT 5
'''

pd.read_sql(query, engine)

   index  ID  ...     RegiaodoPais  NumeroComprasOnline
0      5   6  ...  Região Nordeste           640.780303
1     37  38  ...  Região Nordeste             6.388889
2     41  42  ...     Região Norte             0.129630
3     46  47  ...     Região Norte             0.759804
4     47  48  ...  Região Nordeste             8.611111

[5 rows x 14 columns]

### DISTINCT

- Podemos analisar os valores únicos de uma coluna

In [51]:
query = '''
    SELECT DISTINCT GrupoEconomico
    FROM AtrasoCartaoCredito
'''

pd.read_sql(query, engine)

   GrupoEconomico
0               3
1               1
2               2

In [52]:
query = '''
    SELECT DISTINCT UF
    FROM AtrasoCartaoCredito
'''

pd.read_sql(query, engine)

    UF
0   MG
1   RN
2   PR
3   BA
4   AL
5   RO
6   PB
7   SP
8   RS
9   SC
10  SE
11  GO
12  TO
13  RR
14  PI
15  AM
16  MA
17  AC
18  MS
19  MT
20  RJ
21  ES
22  PE
23  CE
24  AP
25  PA